<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46B1747F1EFB1F1C00380E27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46B174931EFB1F1C00380E27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46B1749E1EFB1F1C00380E27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
